.menu-megamenu{
     width: 100vw;
     height: calc(100vh - 50px);
     position: fixed;
     left: 0;
     top: 0;
     z-index: 11;
     padding-top: 50px;
     background-color: $dark;
     transform: translateX(100vw);
     transition: all ease-in-out 500ms;

     .logo{
          display: flex;
          width: calc(100vw - 60px) !important;
          justify-content: space-between;
          align-items: center;
          margin-left: 30px;

          a{
               width: 150px;
          }

          .open_menu{
               text-decoration: none;
               text-transform: uppercase;
          }
     }

     #menu-menu-principal-1{
          text-align: left;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 250px;
          list-style: none;
  
          li{
              margin-left: 30px;
  
              a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                    letter-spacing: 1px;
                    font-weight: 100;
                    font-size: 1.5rem;
  
              }
          }
  
          .current-menu-item{
              a{
                  color:$gold;
              }
          }
  
  
          li + li {
              margin-top: 10px;
          }
      }
  
      .social_network{
          position: absolute;
          bottom: 20px;
          left: 30px;
          display: flex;
          gap: 20px;
          justify-content: center;
  
          a{
              width: 30px;
              height: 30px;
          }
      }
}